@charset "utf-8";

.login_section
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 12%;
    padding-bottom: 12%;
    background-color: #191919;
}



@media (min-width: 1920px)
{

}

/*테블릿*/
@media (min-width: 767px) and (max-width: 1199px)
{

}

/*모바일*/
@media (max-width: 766px)
{
    .login_section
    {
        padding-top: 150px;
    }
    .login_section > .login_area
    {
        width: 85%;
    }

}

/*최소*/
@media (max-width: 385px) 
{

}