@charset "utf-8";

.char_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(247, 247, 247,0.5);
    box-shadow: 0 0 0 3px rgb(255, 241, 204);
}

.char_list > li
{
    position: relative;
    width: 275px;
    height: 375px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

.char_list > li > .ele_img
{
    position: absolute;
    z-index: 0;
    top:10px;
    right:10px;
    width: 75px;
    height: auto;
    opacity: 0.3;
}

.char_list > li > .char_name
{
    display: block;
    position: absolute;
    z-index: 1;
    top:5px;
    left:0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 10px 10px 25px;
    font-size: 1.8em;
    color: #fff;
    text-shadow: 3px 3px 3px black;
    
}

.char_list > .five_star
{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#775755+0,d0a155+100 */
background: rgb(119,87,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,87,85,1) 0%, rgba(208,161,85,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(119,87,85,1) 0%,rgba(208,161,85,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(119,87,85,1) 0%,rgba(208,161,85,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#775755', endColorstr='#d0a155',GradientType=0 ); /* IE6-9 */

}

.char_list > .four_star
{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#655585+0,b082c1+100 */
background: rgb(101,85,133); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(101,85,133,1) 0%, rgba(176,130,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(101,85,133,1) 0%,rgba(176,130,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(101,85,133,1) 0%,rgba(176,130,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#655585', endColorstr='#b082c1',GradientType=0 ); /* IE6-9 */

}

.char_list > li:hover > .char_img
{
    top:-10px;
}

.char_list > li > .char_img
{
    position: absolute;
    top:0px;
    left:-250px;
    width: auto;
    height: 110%;
    transition-duration: 0.3s;
}