@charset "utf-8";

.header
{
    position: fixed;
    top:0px;
    left:0px;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding:0% 5% 0% 5%;
    background-color: rgba(59, 59, 59, 0.5);
}

.header > .header_bg
{
    display: none;
    position: absolute;
    top:80px;
    left:0px;
    width: 100%;
    height: 180px;
    background-color: rgba(59, 59, 59, 0.5);
}

.header > .header_logo
{
    width: 150px;
    height: 100%;
}

.header_logo > a
{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Gensin_logo_w.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header > .header_menu
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header_menu > .navi_menu
{
    display: flex;
    width: auto;
    height: 100%;
}

.navi_menu > li
{
    position: relative;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.navi_menu > li:hover
{
    background-color: rgba(20, 20, 20, 0.5);
}

.navi_menu > li > .navi_list
{
    display: none;
    position: absolute;
    top:80px;
    left:0px;
    width: 150px;
    height: auto;
    z-index: 901;
}

.navi_list > li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
}

.navi_list > li:hover
{
    background-color: rgba(20, 20, 20, 0.5);
}

.header_menu > .logo
{
    position: relative;
    width: 200px;
    height: 100%;
}

.logo > img
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}



@media (min-width: 1920px)
{

}

/*테블릿*/
@media (min-width: 767px) and (max-width: 1199px)
{


}

/*모바일*/
@media (max-width: 766px)
{

}

/*최소*/
@media (max-width: 320px) 
{

}


