@charset "utf-8";



.orange_main
{
    width: 100%;
    height: 2000px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.orange_main > .main_inner
{
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    background-color: rgb(206, 206, 206);
}

/*모바일 네비*/



@media (min-width: 1920px)
{

    
}

/*테블릿*/
@media (min-width: 767px) and (max-width: 1199px)
{


}

/*모바일*/
@media (max-width: 766px)
{

}

/*최소*/
@media (max-width: 320px) 
{

}
