@charset "utf-8";


.orange_warp
{
    width: 100%;
    height: 1080px;
    box-sizing: border-box;
    background-color: #68794e;
    overflow: hidden;
    font-family: 'Pretendard-Regular';
}

/*축소*/
@media (min-width: 1920px)
{

}

/*테블릿*/
@media (min-width: 767px) and (max-width: 1199px)
{

}

/*모바일*/
@media (max-width: 766px)
{

}

/*최소*/
@media (max-width: 320px) 
{

}

